@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
    background-color: #121212;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.center-box {
    text-align: center;
}

h1, h2, h3, h4, h5, a, p {
    color: white;
    font-family: 'Montserrat', sans-serif;
}